
        <div class="row">
            <div class="col-md-6">

                {% for tag in tags %}
            
                    <a href="{{path('products_index_list__paginated',{tag:tag.name, page:1})}}" class="dropdown-item">{{tag.name}}</a>
                    
                {% else %}
                <span >no records found</span>
        {% endfor %}
            </div>
            <div class="col-md-6">

            
            <a href="404.html" class="dropdown-item">...</a>
            </div>
        </div>